/*--------VARIABLES---------*/
:root {
    --basic-red:#EE3643;
    --basic-green:#63A63E;
    --basic-grey:#3D546F;
    --basic-greylight:#C5C5C5;
    --basic-background:#F1F5F7;
    --white:#ffffff;
    --special-yellow:#FFBF47;
    --special-blue:#3BBCE3;
    --special-lilac:#DC91D8;
    --special-greenlight:#8ED78F;
    --special-yellowlight:#FFD180;
    --success:#5FBB2D;
    --warning:#FFBF47;
    --error:#BA2732;
    --light-gray:#EAEAEA;  
    --dark:#000000;
  }



  /*--------GLOBAL---------*/

  .page {
    height: 100%;
  }
  
  .page-body {
    font-family: 'Cuprum', Arial, sans-serif;
    background-color:var(--white);
  
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: flex-start;
  }
  
  .link-list-item a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
  }
  
  .button {
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
  .container {
    width:940px;
    margin: 0 auto;
  }
  
  
  
  /*--------HEADER---------*/
  .main-header {
    background-image: url(/img/top\ background.png);
    margin-bottom: 21px;
  }
  
  /*header top*/
  .header-top-bar {
    background-color:#293449;
  }
  
  .main-header-top {
    font-size: 18px;
    line-height: 24px;
    color:var(--white);
    background-color: rgba(41, 52, 73, 1);
  
    display: grid;
    grid-template-columns: 1fr 2fr;
  
  }
  
  .header-top-logo-search-container {
    position: relative;
  }
  
  .header-logo {
    position: absolute;
  }
  
  .main-header-top-links {
    justify-self: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .main-header-top-links li:nth-child(2) {
  background-color: var(--basic-red);
}

  .main-header-top-links li:nth-child(3) {
    background-color: var(--basic-green);
  }
  
  
  /*header middle*/
  .main-header-middle {
  
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .header-description {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color:var(--basic-red);
  }
  
  .header-contacts {
    color:#32425C;
    font-size: 14px;
    line-height: 24px;
  }
  
  .header-contacts a {
    text-decoration: none;
    color:var(--basic-red);
    border: 3px solid var(--white);
  }
  
  .header-enter-link {
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: var(--dark);
    background-image: url(/img/header-middle-button-background.png);
  }
  
  .header-registration-link {
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: var(--dark);
    background-image: url(/img/header-middle-button-background.png);
  }
  
  /*header bottom*/
  
  .main-header-bottom {
   
  }
  
  .link-list-main-header {
    background-color: #32425C;
    list-style: none;
    margin: 0;
    padding: 0;
  }

 

  /*CATALOG*/

  .bread-crumbs{
    list-style: none;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:var(--dark);
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    }

  .bread-crumbs a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:var(--dark);
    text-decoration:none;
    font-family: PT Sans;
    }

    .h1-container {
        background-color: #F2F6F8;
        margin-bottom: 20px;
    }

    .catalog-name {
        color:#32425C;
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0;
    }

    /*FILTER*/
    .filter-card-container {
      display: grid;
      grid-template-columns:min-content 1fr ;
      gap:20px;
    }

   .catalog-filter {
     width:220px;
   }

    .filter {
    background-color:#F7F3EC;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    }

    .price-filter {
        border:none;
        margin: 0;
        padding: 0;
    }

    .price-filter legend {
        font-family: PT Sans;
        font-weight: bold;
        font-size: 17px;
        line-height: 30px;
        
    }

    .price-filter-input{
        background-color:#F7F3EC;
        padding: 20px;
    }

    .manufacturers-filter {
        border:none;
        margin: 0;
        padding: 0;
    }

    .manufacturers-filter legend {
        font-family: PT Sans;
        font-weight: bold;
        font-size: 17px;
        line-height: 30px;
    }

    .manufacturers-filter-list {
        list-style: none;
        margin: 0;
        padding: 0;
}

    .manufacturers-filter-item label {
        font-family: PT Sans;
        font-size: 15px;
        line-height: 19px;
        text-transform:uppercase;
    }

    /**line**/
    .line {
       border-top:1px solid #EAEAEA;
       border-bottom:1px solid #EAEAEA;
    }

    .power-filter {
        border: none;
        margin: 0;
        padding: 0;
    }

    .power-filter legend {
        font-family: PT Sans;
        font-weight: bold;
        font-size: 17px;
        line-height: 30px;
    }

    .power-filter-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .power-filter-item label {
        font-family: PT Sans;
        font-size: 15px;
        line-height: 19px;
        text-transform:uppercase;
    }

    .filter-result-show {
        border: 1px solid #E5E5E5;
        background-color: var(--white);
        font-family: PT Sans;
        font-size: 13px;
        line-height: 18px;
    }

    /*sort-list*/
    .card {
      display: grid;
      grid-template-rows: min-content 1fr min-content ;
      margin-bottom: 59px;
    }


    .sort-container{
        background-color:#F7F3EC;
        margin-bottom: 28px;
    }

    .sort-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .sort {
        font-family: PT Sans;
        font-size: 13px;
        line-height: 18px;
        margin: 0;
        padding: 0;
    }

    .sort-list-item {
        font-family: PT Sans;
        font-size: 13px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.3);

    }

    .sort-list-item:nth-child(1) {
        color: var(--basic-red);
    }

    /*card*/

    

    .card-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        margin-bottom: 48px;
      }
      
      .card-item {
        border:1px solid #EAEAEA;
        font-family: PT Sans;
        font-weight: bold;
      }
      
      .card-item a {
        text-decoration: none; 
        font-family: PT Sans;
      }
      
      .card-item a p{
        color:var(--dark);
        font-size: 18px;
        line-height: 20px;
        font-family: PT Sans;
      }
      
      .card-item a span {
        color: #A9A9A9;
        text-decoration: line-through;
        font-size: 17px;
        line-height: 18px;
        font-family: PT Sans;
      }
      
      .card-item button {
        font-family: PT Sans;
        color: var(--white);
        background-color:var(--basic-red);
        border:none;
        font-weight: bold;
        font-size: 17px;
        line-height: 18px;
      }

      
      /*paginator*/

      .paginator {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
      }

      .paginator-page a {
            text-decoration: none;
            border: 1px solid #E5E5E5;
            color:var(--dark);
            padding: 10px 15px;
            margin-right: 10px;
        }

      .paginator-page:first-child a{
          background-color: var(--basic-red);
          color: var(--white);
      }

      /*catalog description*/

      .catalog-description {
          background-color:var(--basic-background); 
          grid-column-start: 1;
          grid-column-end: -1;
          
    }

    .catalog-description h2 {
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        padding-top: 64px;
        padding-bottom: 25px;
    }

    .catalog-description p {
        font-family: PT Sans;
        font-size: 13px;
        line-height: 24px;
        margin: 0;
        padding: 0;
        padding-bottom: 67px;
    }

    /*POPUP**/
    .catalog-popup {
        border-top: 7px solid var(--basic-red);
        position: relative;
        width: 620px;
        height: 282px;
        margin: 0 auto;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        display: grid;
        grid-template-rows: 2fr 1fr;
        text-align: center;
    }

    .catalog-popup::before {
        content: "" ;
        position: absolute;
        background:url(/img/icon-mark.png);
        background-repeat:no-repeat;
        width: 66px;
        height: 66px;
        left: 81px;
        top:55px;
    }

    .button-popup-close {
        position: absolute;
        background-image:url(/img/icon-close.png);
        background-repeat:no-repeat;
        background-color: transparent;
        border:none;
        padding: 15px;
        cursor: pointer;
        text-align: center;
        top:11px;
        right:11px;
      }

      .popup-info {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        align-self: center;
      }


      .popup-button-container {
          background-color:#F1F1F1;
      }

      .button.button-popup-make {
        /*width:192px;
        height: 38px;*/
        padding: 11px 46px 9px 47px;
        margin-top: 37px;
        margin-bottom: 37px;
      }

      .popup-button-continue {
          border: none;
          background-color:var(--white);
          color: var(--dark);
          padding: 11px 31px 9px 32px;
          margin-left: 10px;
          margin-top: 37px;
          margin-bottom: 37px;
      }
