/*--------VARIABLES---------*/
:root {
    --basic-red:#EE3643;
    --basic-green:#63A63E;
    --basic-grey:#3D546F;
    --basic-greylight:#C5C5C5;
    --basic-background:#F1F5F7;
    --white:#ffffff;
    --special-yellow:#FFBF47;
    --special-blue:#3BBCE3;
    --special-lilac:#DC91D8;
    --special-greenlight:#8ED78F;
    --special-yellowlight:#FFD180;
    --success:#5FBB2D;
    --warning:#FFBF47;
    --error:#BA2732;
    --light-gray:#EAEAEA;  
    --dark:#000000;
  }



  /*--------GLOBAL---------*/

  .page {
    height: 100%;
  }
  
  .page-body {
    font-family: 'Cuprum', Arial, sans-serif;
    background-color:var(--white);
  
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: flex-start;
  }
  
  .link-list-item a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
  }
  
  .button {
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }

  .button:hover{
    background-color: #CA2C37;
  }
  
  .button:active{
    background-color: #BA2732;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
  .container {
    width:940px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  
  
  /*--------HEADER---------*/
  .main-header {
    background-image: url(../img/top_background.png);
    margin-bottom: 21px;
  }
  
  /*header top*/
  .header-top-bar {
    background-color:#293449;
  }
  
  .main-header-top {
    font-size: 18px;
    line-height: 24px;
    color:var(--white);
    background-color: rgba(41, 52, 73, 1);
  margin-bottom: 48px;
    display: grid;
    grid-template-rows: 1fr;
  }
  
  
  .header-logo {
    display: block;
    background-image:url(../img/logo-technomart.svg); 
    background-repeat:no-repeat;
    width: 220px;
    height: 47px;
    position: absolute;
    
  }
  
  .header-logo:active{
    background-image:url(../img/header-logo-active.svg); 
  }
  
  .header-logo span{
    display: inline-block;
    background-image:url(../img/logo-technomart-text.svg);
    background-repeat:no-repeat;
    width: 108px;
    height:18px;
    position: absolute;
    left:55px;
    top: 15px;
  }
  
  .main-header-top-links {
      height: 42px;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      position: relative;
  }
  
  
  .main-header-top-links li{
    display: flex;
    align-items: center;
  }
  
  .main-header-top-links a{
    text-decoration: none;
    color: var(--white);
    display: inline-block;
  }
  
  .header-search{
    width: 271px;
    height: 41px;
    padding-left: 43px;
    border: 0px solid transparent;
    background-color:transparent;
    color: var(--white);
    display: inline-block;
  }
  
  
  .header-search:focus{
    background-color:var(--white);
  }
  
  
  
  .header-search:focus::placeholder{
    color: var(--dark);
  }
  
  
  
  .main-header-top-links li:nth-child(2)::before{
    content: '';
    position: absolute;
    width: 17px;
    height:17px;
    left: 240px;
    background-image: url(../img/icon-search-opacity-1.svg);
    background-repeat:no-repeat;
    opacity: 0.3;
  }
  
  .main-header-top-links li:nth-child(2):hover::before{
    opacity: 1;
  }
  
  
  .main-header-top-links li:nth-child(2){
    margin-left: 220px;
  }
  
  .main-header-top-links li:nth-child(3),.main-header-top-links li:nth-child(4){
    padding-left: 43px;
    padding-right: 24px;
  }
  
  .main-header-top-links li:nth-child(3) a::before{
    content: '';
    position: absolute;
    width: 17px;
    height:17px;
    left: 515px;
    top:13px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat:no-repeat;
    opacity: 0.3;
  }
  
  .main-header-top-links li:nth-child(3):active{
    background-color:#161D29;
  }
  
  .main-header-top-links li:nth-child(3):active a{
    opacity: 0.5;
  }

  .main-header-top-links li:nth-child(4){
    background-color:var(--basic-red);
    padding-right: 27px;
  }
  
  .main-header-top-links li:nth-child(4) a::before{
    content: '';
    position: absolute;
    width: 15px;
    height:15px;
    left: 665px;
    top:13px;
    background-image: url(../img/icon-cart.svg);
    background-repeat:no-repeat;
    opacity: 0.3;
  }
  
  .main-header-top-links li:nth-child(4):active{
    background-color:#161D29;
  }
  
  .main-header-top-links li:nth-child(4):active a{
    opacity: 0.5;
  }
  
  .main-header-top-links li:nth-child(5) {
    background-color: var(--basic-green);
    padding-left: 19px;
    padding-right: 16px;
  }
  
  .main-header-top-links li:nth-child(5):active a{
    opacity: 0.5;
  }
  
  .main-header-top-links li a:hover::before{
    opacity: 1;
  }
  
  /*header middle*/
  .main-header-middle {
  
    display: flex;
    justify-content: end;
    margin-bottom:42px;
    text-align: center;
  }
  
  .header-description {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color:var(--basic-red);
    text-align: left;
    margin-right: 93px;
  }
  
  .header-contacts {
    color:#32425C;
    font-size: 14px;
    line-height: 24px;
    margin-right: 53px;
  }

  .tel-container{
    border: 3px solid var(--white);
    padding: 4px 45px 5px 74px;
    margin-bottom: 3px;

  }

  
  .tel-container a {
    text-decoration: none;
    color:var(--basic-red); 
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    position: relative;
  }

  .tel-container a::before{
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background-image:url(../img/icon-phone.svg);
    left:-35px;
    top: 2px;
  }
  
.enter-link-container{
  background-color:var(--white);
  padding: 12px 57px 12px 56px;
  margin-bottom: 7px;
}

  .header-enter-link {
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: var(--dark);
    position: relative;
  }

  .header-enter-link::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 18px;
    background-image:url(../img/icon-user.svg);
    left:-35px;
    top: 3px;
  }

  .header-enter-link:hover::before{
    background-image:url(../img/icon-user-hover.svg);
  }


  .header-enter-link::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 17px;
    background-image:url(../img/icon-login-gray.svg);
    right:-35px;
    top: 5px;
  }

  .header-enter-link:hover::after{
    background-image:url(../img/icon-login.svg);
  }

  .cabinet-link-container{
    position: relative;
  }

  .cabinet-link-container::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 7px;
    background-image:url(../img/doted.svg);
    background-repeat:no-repeat;
    right:157px;
    top: 7px;
  }

  .cabinet-link-container:hover::before{
    background-image:url(../img/doted-red.svg);
  }

  .cabinet-link-container:active::before{
    background-image:url(../img/doted-light-gray.svg);
  }

  .cabinet-link-container a{
    color: #32425C;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
  }


  .cabinet-link-container a:nth-child(1):hover{
    color: var(--basic-red);
  }

  .cabinet-link-container a:nth-child(1):active{
    color: var(--light-gray);
  }
 

  .cabinet-link-container a:nth-child(2):hover{
    color: var(--basic-red);
  }

  .cabinet-link-container a:nth-child(2):active{
    color: var(--light-gray);
  }

  .header-cabinet-link:first-child{
    margin-right: 33px;
  }

  
  
  
  /*header bottom*/
  
  .main-header-bottom{
    margin-bottom: 60px;
  }
  
  .link-list-main-header {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    background-image:url(../img/header-bottom-background.svg);
  }
  
  .link-list-item a{
    display: inline-block;
    margin-top: 16px;
    margin-top: 16px;
  }
  
  
  .link-list-item:hover{
    background-color: #1D2739;
  }
  
  .link-list-item:active a{
    opacity: 0.5;
  }

  /*CATALOG*/

  .bread-crumbs{
    list-style: none;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:var(--dark);
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    }

    .bread-crumbs::before{
      content: '';
    position: absolute;
    width: 14px;
    height: 12px;
    background-image:url(../img/icon-home.svg);
    background-repeat:no-repeat;
    left:0px;
    top: 3px;
    }

    .bread-crumbs-item{
      margin-right: 41px;
      position: relative;
    }

    .bread-crumbs-item:nth-child(1) a{
      color:transparent;
    }

    .bread-crumbs-item:nth-child(2){
      margin-left: 0px;
    }

    .bread-crumbs-item:not(:first-child):before{
      content: '';
      position: absolute;
      width: 8px;
      height: 12px;
      background-image:url(../img/right-small.svg);
      background-repeat:no-repeat;
      left:-24px;
      top: 3px;
    }

  .bread-crumbs a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:var(--dark);
    text-decoration:none;
    font-family: PT Sans;
    }

    .h1-container {
        background-color: #F2F6F8;
        height: 89px;
        margin-bottom: 20px;
    }

    .catalog-name {
        color:#32425C;
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        padding-left: 29px;
        padding-top: 29px;
        padding-bottom: 29px;
    }

    /*FILTER*/
    .filter-card-container {
      display: grid;
      grid-template-columns:min-content 1fr ;
      gap:20px;
    }

   .catalog-filter {
     width:220px;
   }

    .filter {
    background-color:#F7F3EC;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    padding: 10px 0 10px 18px;
    margin-bottom: 14px;
    }

    .price-filter {
        border:none;
        margin: 0;
        padding: 0;
    }

    .price-filter legend {
        font-family: PT Sans;
        font-weight: bold;
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 11px;
    }

    .price-filter-input{
        background-color:#F7F3EC;
        
        height: 80px;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 9px;
    }



     .price-filter span:nth-child(3), .price-filter span:nth-child(5){
      display: inline-block;
      width:95px;
      height: 38px;
      background-color:var(--basic-greylight);
      margin-bottom: 25px;
    }

    .range-controls{
      background-image:url(../img/range-filter-background.png);
      height: 80px;
      margin-bottom: 9px;
      display: flex;
      justify-content: center;
      align-items:center;
      position: relative;
    }

    .scale{
      width: 180px;
      height: 2px;
      background-color: #D7DCDE;
    }

    .bar{
      width: 70%;
      height: 2px;
      background-color: var(--basic-green);
    }

    .toggle{
      position: absolute;
      left: 0;
      width: 4px;
      height: 4px;
      background-color:#ABABAB;
      border: 10px solid var(--white);
      border-radius:50%;
      cursor: pointer;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    }

    .toggle-min{
      left: 5%;
    }

    .toggle-max{
      left: 60%;
    }

    .price-controls{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
    }

    .price-controls input{
      font-family: PT Sans;
      font-size: 17px;
      line-height: 18px;
      width: 95px;
      height: 38px;
      background-image:url(../img/range-filter-background.png);
      border: none;
      text-align: center;
      border-radius:5px;
    }

    .line{
      margin-bottom: 16px;
    }

    .manufacturers-filter {
        border:none;
        margin: 0;
        padding: 0;
    }

    .manufacturers-filter legend {
        font-family: PT Sans;
        font-weight: bold;
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 15px;
        
    }

    .manufacturers-filter-list {
        list-style: none;
        margin: 0;
        padding: 0;
}

.manufacturers-filter-item{
  margin-bottom:20px ;
  margin-left: 35px;
}

.filter-input-checkbox + label{
  position: relative;
  cursor: pointer;
}

.filter-input-checkbox + label::before{
  content: '';
  position: absolute;
  background-image: url(../img/checkbox-off.svg);
  background-repeat:no-repeat;
  width: 23px;
  height: 23px;
  left: -35px;
  top: -3px;
}

.filter-input-checkbox + label:hover::before{
  background-image: url(../img/checkbox-off-hover.svg);
}

.filter-input-checkbox:checked + label::before{
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:checked + label:hover:before{
  background-image: url(../img/checkbox-on-hover.svg);
}

    .manufacturers-filter-item label {
        font-family: PT Sans;
        font-size: 15px;
        line-height: 19px;
        text-transform:uppercase;
        margin: 0;
        padding: 0;
    }

    /**line**/
    .line {
       border-top:1px solid #EAEAEA;
       border-bottom:1px solid #EAEAEA;
    }

    .power-filter {
        border: none;
        margin: 0;
        padding: 0;
    }

    .power-filter legend {
        font-family: PT Sans;
        font-weight: bold;
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .power-filter-list {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 37px;
    }

    .power-filter-item{
      margin-bottom: 22px;
      margin-left: 35px;
    }

    .filter-input-radio + label{
      position: relative;
      cursor: pointer;
    }
    
    .filter-input-radio + label::before{
      content: '';
      position: absolute;
      background-image: url(../img/radio-off.svg);
      background-repeat:no-repeat;
      width: 27px;
      height: 27px;
      left: -35px;
      top:-4px;
    }

    .filter-input-radio + label:hover::before{
      background-image: url(../img/radio-off-hover.svg);
    }
    

    
    .filter-input-radio:checked + label:hover:before{
      background-image: url(../img/radio-on-hover.svg);
    }

    .filter-input-radio:checked + label::before{
      background-image: url(../img/radio-on.svg);
    }

    .power-filter-item label {
        font-family: PT Sans;
        font-size: 15px;
        line-height: 19px;
        text-transform:uppercase;
    }

    .filter-result-show {
        border: 1px solid #E5E5E5;
        background-color: var(--white);
        font-family: PT Sans;
        font-size: 13px;
        line-height: 18px;
        width: 220px;
        height: 38px;
        cursor: pointer;
    }

    /*sort-list*/
    .card {
      display: grid;
      grid-template-rows: min-content 1fr min-content ;
      margin-bottom: 59px;
    }


    .sort-container{
        background-color:#F7F3EC;
        margin-bottom: 28px;
        
       
    }

    .sort-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display:flex;
        justify-content: space-around;
        height: 38px;
        align-items:center
    }

    .sort {
        font-family: PT Sans;
        font-size: 13px;
        line-height: 18px;
        margin: 0;
        padding: 0;  
    }

    .sort-list-item {
        font-family: PT Sans;
        font-size: 13px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.3);
    }

    .sort-list li:nth-child(1){
      margin-right: 140px;
    }

    .sort-list-item:nth-child(2) {
        color: var(--basic-red);
       
    }

    .button-sort{
      border: none;
      background:none;
      cursor: pointer;
      opacity: 0.3;
    }

    .button-sort-price, .button-sort-type, .button-sort-function{
      border-bottom: 2px dotted var(--basic-red);
    }

    .button-sort-up, .button-sort-down{
      opacity:1;
    }

    .button-sort-up span, .button-sort-down span{
      position: relative;
    }

    .button-sort-up span::before{
      content: '';
      position: absolute;
      width: 11px;
      height: 10px;
      background-image:url(../img/sort-icon-up-gray.svg);
      left: -15px;
      top: -10px;
    }

    .button-sort-up span:hover::before{
      background-image:url(../img/sort-icon-up-black.svg);
    }

    .button-sort-down span::before{
      content: '';
      position: absolute;
      width: 11px;
      height: 10px;
      background-image:url(../img/sort-icon-down-gray.svg);
      left: -5px;
      top: -10px;
    }

    .button-sort-down span:hover::before{
      background-image:url(../img/sort-icon-down-black.svg);
    }

    .button-sort-price:hover{
      border-bottom: 1px solid var(--basic-red);
      opacity: 1;
    }

    .button-sort-type:hover{
      border-bottom: 1px solid var(--basic-red);
      opacity: 1;
    }

    .button-sort-function:hover{
      border-bottom: 1px solid var(--basic-red);
      opacity: 1;
    }

    .button-sort-current{
      color: var(--basic-red);
      border: none;
      opacity: 1;
    }


 

    /*card*/

    

    .card-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 48px;
      }
      
      .card-item {
        border:1px solid #EAEAEA;
        font-family: PT Sans;
        font-weight: bold;
        width:218px;
        min-height: 318px;
        margin-right: 20px;
        margin-bottom: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
      }

      .card-item:nth-child(3n) {
        margin-right:0px;
      }
      
      .card-item a {
        text-decoration: none; 
        font-family: PT Sans;
      }

      .card-item img {
        width: 144px;
        height: 128px;
        object-fit: contain;
      }
      
      .card-item a p{
        color:var(--dark);
        font-size: 18px;
        line-height: 20px;
        font-family: PT Sans;
        margin: 0;
        padding: 0;
        margin-bottom: 7px;
      }
      
      .card-item a span {
        display:block;
        color: #A9A9A9;
        text-decoration: line-through;
        font-size: 17px;
        line-height: 18px;
        font-family: PT Sans;
        margin-bottom: 13px;
      }

      .card-item:nth-child(6) a p, .card-item:nth-child(9) a p{
        margin-bottom: 39px;
      }
      
      .card-item button {
        font-family: PT Sans;
        color: var(--white);
        background-color:transparent;
        border:none;
        font-weight: bold;
        font-size: 17px;
        line-height: 18px;
        width:141px;
        height: 38px;
        background-image:url(../img/red-button.png);
        cursor: pointer;
      }

      
      /*paginator*/

      .paginator {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
      }

      .paginator-page a {
            text-decoration: none;
            border: 1px solid #E5E5E5;
            color:var(--dark);
            padding: 10px 15px;
            margin-right: 10px;
        }

        .paginator-page a:hover{
          border: 1px solid var(--basic-greylight);
        }

        .paginator-page a:active{
          border: 1px solid var(--basic-red);
        }

      .paginator-page.current-page a{
          background-color: var(--basic-red);
          color: var(--white);
      }

      /*catalog description*/

      .catalog-description {
          background-color:var(--basic-background); 
          grid-column-start: 1;
          grid-column-end: -1;
          
    }

    .catalog-description h2 {
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        padding-top: 64px;
        padding-bottom: 25px;
    }

    .catalog-description p {
        font-family: PT Sans;
        font-size: 13px;
        line-height: 24px;
        margin: 0;
        padding: 0;
        padding-bottom: 67px;
    }


/*FOOTER*/


/*footer-top*/
.footer-top-bar {
  background-color: #32425C;
}

.footer-top {
  background-color:#32425C;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-top p {
  color: #F3F7F9;
  font-size: 18px;
  line-height: 24px;
}

.footer-top-logo-adress-container{
  display: flex;
  flex-direction: column;
  margin-right: 69px;
}

.footer-logo {
  display: block;
  background-image:url(../img/footer-logo.svg); 
  background-repeat:no-repeat;
  width: 220px;
  height: 68px;
  position: relative;
}

.footer-logo span{
  display: inline-block;
  background-image:url(../img/footer-logo-text.svg);
  background-repeat:no-repeat;
  width: 138px;
  height:23px;
  left:42px;
  top: 18px;
  position: absolute;
}

.footer-top-logo-adress-container p{
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  margin-top: 22px;
}

 .footer-link-list-top {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 37px;
  margin-bottom: 34px;
}

.footer-link-list-top li:hover a{
  text-decoration: underline;
}

.footer-link-list-top li:active a{
  opacity: 0.5;
  text-decoration:none;
}

.footer-link-list-top a {
  text-decoration: none;
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
}

.footer-link-list-bottom {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items:center;
 
}

.footer-link-list-bottom li:hover a{
  text-decoration: underline;
}

.footer-link-list-bottom li:active a{
  opacity: 0.5;
  text-decoration:none;
}

.li-container{
  display: flex;
}

.li-container li{
  margin-left: 59px;
}

.footer-link-list-bottom a {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
  text-decoration: none;
}

/*footer-bottom*/

.footer-bottom-bar {
  background-color: #293449;
}

.footer-bottom {
  background-color: #293449;
  display: grid;
  grid-template-columns: 1fr 1fr min-content min-content;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.social-link {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}



.social-link li:nth-child(1) a{
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color:#212A3A;
  border-radius: 50%;
  background-repeat:no-repeat;
  background-position: 50% 50%;
  background-image:url(../img/Вконтакте.png);
}

.social-link li:nth-child(2) a{
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color:#212A3A;
  border-radius: 50%;
  background-repeat:no-repeat;
  background-position: 50% 50%;
  background-image:url(../img/icon-fb.png);
}

.social-link li:nth-child(3) a{
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color:#212A3A;
  border-radius: 50%;
  background-repeat:no-repeat;
  background-position: 50% 50%;
  background-image:url(../img/icon-insta.png);
}

.social-link li {
  margin-right: 1px;
}

.social-link li:hover a{
  background-color:var(--basic-red);
}


.feedback-development-container{
  display: flex;
}

.feedback {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  margin-right: 51px;
}

.feedback a{
  color: var(--special-yellowlight);
  text-decoration: none;
}

.feedback:hover a{
  text-decoration: underline;
}

.feedback:active a{
  text-decoration: none;
  color: #EE3643;
}

.feedback p{
  margin: 0;
  padding: 0;
}

.development-by {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.development-by a {
  color: var(--special-yellowlight);
  text-decoration: none;
}

.development-by:hover a{
  text-decoration: underline;
}

.development-by:active a{
  text-decoration: none;
  color: #EE3643;
}

.development-by p{
  margin: 0;
  padding: 0;
}


    /*POPUP**/
    .catalog-popup {
      display: none;
        border-top: 7px solid var(--basic-red);
        position: fixed;
        width: 620px;
        height: 282px;
        top: 100px;
        bottom: auto;
        margin-left: 152px;
        margin-right: 168px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        text-align: center;
        background-color:var(--white);
    }

    .catalog-popup p{
      margin-top: 75px;
    }

    .catalog-popup::before {
        content: "" ;
        position: absolute;
        background:url(../img/icon-mark.png);
        background-repeat:no-repeat;
        width: 66px;
        height: 66px;
        left: 81px;
        top:55px;
    }

    .button-popup-close {
        position: absolute;
        background-image:url(../img/icon-close.png);
        background-repeat:no-repeat;
        background-color: transparent;
        border:none;
        padding: 15px;
        cursor: pointer;
        text-align: center;
        top:11px;
        right:11px;
      }

      .popup-info {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        align-self: center;
      }


      .popup-button-container {
          background-color:#F1F1F1;
          margin-top: 70px;
      }

      .button.button-popup-make {
        /*width:192px;
        height: 38px;*/
        padding: 11px 46px 9px 47px;
        margin-top: 37px;
        margin-bottom: 37px;
      }

      .popup-button-continue {
          border: none;
          background-color:var(--white);
          color: var(--dark);
          padding: 11px 31px 9px 32px;
          margin-left: 10px;
          margin-top: 37px;
          margin-bottom: 37px;
      }

      .popup-button-continue:hover{
        color: var(--white);
        background-color:var(--basic-greylight);
      }
